<%- include('head')-%>
<div class="container">
    <% articles.forEach((item)=>{ %>
        <h3> <%= item.title %> </h3>
        <div>
            <%-  item.content -%>
        </div>



  <%  }) %>

</div>

<%-  include('foot') -%>